/*GENERICS*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif; 
  }
  
  img{
    width: 100%;
  }
  
  ul{
    list-style-type: none;
  }
  
  /*UTILITIES*/
  
  .container{
    width: 100%;
    padding: 0 20px;
  }
  
  
  /*FLEX*/
  .flex{
    display: flex;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;    
  }
  
  .column{
    width: 100%;
  }
  
  .align-center{
    align-items: center;
  }

  .justify-space-between{
    justify-content: space-between;
  }
    

  /*HEADER*/
  
  header{
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
  }
  
  .menu{
    color: #fff;
  }
  
  .menu ul{
    display: none;
  }

  .menu li{
    padding: 0 15px;
  }

  .menu button{
    color: #333333;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px;
  }
  
  header .fa-bars,
  header img{
    vertical-align: middle;
  }
  
  /*MAIN*/

  main{
    padding-top: 80px;
  }
  
  /*SECTION*/

  section{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  section:nth-of-type(even){
    background-color:#9792e4;
  }
  
  
  /* PRODUCT-PRESENTATION */
  #product-presentation .card{
    background-color: #b5ddff;
  }
  #product-presentation .column:first-child .card {
    padding-bottom: 0;
  }

  .card{
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  
  .card.text-left{
    text-align:left;
  }

  .card h3{
    color: #0084fd;
  }

  #apple-blu{
    background-color: #0084fd;
    color: #fff;
    border-radius: 20px;
    padding: 15px 10px;
    width: 80%;
    align-self: center;
    border: none;
    margin-bottom: 20px;
  }

  #blue{
    color: #fff;
    font-size: 15px;
  }

  .card i{
    font-size: 60px;
    color: #0084fd;
  }

  .card p{
    padding: 20px 0;
    color: lightslategray;
    line-height: 1.5;
  }

  /*FEMALE-MALE*/
  .second-card{
    color: #fff;
  }

  .second-card h2{
    padding: 20px 0;
  }

  .second-card p{
    padding: 20px 0;
  }


  .second-card-enter{
    background-color: #fff;
    border-radius: 25px;
    margin-bottom: 30px;
    text-align: center;
  }

  .second-card-enter h2{
    padding: 20px 0;
  }

  .second-card-enter p{
    padding: 20px;
    line-height: 1.5;
  }

  .second-card-enter button{
    border-radius: 50%;
    background-color: #9792e4;
    font-size: 15px;
    border: none;
    padding: 20px;
    margin: 20px 0;
  }


  /*PERSON*/

  .text-person{
    text-align: center;
  }
  
  .text-person h2{
    color: #9792e4;
    padding: 20px 0;
    font-size: 35px
  }

  .photo-person-circle{
    background-color: #9792e4;
    padding: 20px 0;
    border-radius: 25px;
    margin: 20px 0;
    text-align: center;
    color:#fff;
  }

  .photo-person-circle img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  .photo-person-circle p{
    padding: 20px;
    line-height: 1.5;
  }

  /*BENEFIT*/

  .simple h2{
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
  }

  .numbers{
    background-color: #fff;
    color: #9792e4;
    border-radius: 25px;
    text-align: left;
    padding: 25px 20px;
    margin: 20px 0;
  }

  .purple-but{
    background-color: #9792e4;
    color: #fff;
    border-radius: 25px;
    padding: 10px 30px;
    border: none;
  }

  .first-numb{
    font-size: 40px;
    padding: 20px 0;
  }

  .numbers h3{
    font-size: 25px;
    padding: 20px 0;
  }

  .numbers p{
    padding: 20px 0;
  }

  /*ABOUT-US*/

  .us img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  .us h2{
    font-size: 40px;
    color: #9792e4;
    padding: 20px 0;
  }

  .us p{
    padding: 25px 0;
    line-height: 2;
  }

  .us h3{
    color: #9792e4;
    font-size: 25px;
    padding: 20px 0;
    line-height: 1.5;
  }

  .quote-left{
    position: relative;
  }

  .us i{
    position: absolute;
    color: #9792e4;
    font-size: 40px;
  }

  /*FREE*/

  .final{
    text-align: center;
    color: #fff;
  }

  .final h2{
    color:orange;
    font-size: 50px;
    padding: 20px 0;
  }

  .final h4{
    color: lightgray;
    padding: 20px 0;
  }

  .final h3{
    padding: 20px 0;
    font-size: 30px;
  }

  .final p{
    padding: 20px 0;
    line-height: 1.5;
    vertical-align: middle;
  }

  .final button{
    background-color: #fff;
    color: #9792e4;
    border: none;
    border-radius: 30px;
    padding: 20px 70px;
    font-size: 15px;
  }

  




  /*FOOTER*/

  footer{
    background-color: #333333;
  }

  .ending{
    color:#fff;
    padding: 20px 0;
    text-align: center;
  }

  .ending a{
    color: #9792e4;
    text-decoration: none;
  }
  
  .ending p{
    padding: 20px 0;
  }
  
  
  /*MEDIA-SCREEN*/

  @media screen and (min-width: 768px){
  
    #product-presentation .column {
      width: calc(100% / 3);
      padding: 0 10px;
    } 
    
    #product-presentation .column:first-child {
      width: calc(100% / 3 * 2);
    }
  
    #product-presentation img{
      width: 50%;
    }

    .photo-person-circle{
        display: flex;
    }

    .photo-person-circle img{
        margin: 0 10px;
    }

    #benefit .container{
        width: calc(100% / 2);
     }
 
     #about-us .us{
         display: flex;
     }
 
  
  
  }



  
  @media screen and (min-width: 1000px) {
  
    .menu .fa-bars{
      display: none;
    }
  
    .menu ul {
      display: flex;
    }
  
    .menu li {
      display: inline-block;
    }
  
  
    #product-presentation .column:first-child .card{
      flex-direction: row;
    }

    #female-male .container{
        display: flex;
    }

    .second-card img{
        width: 60%;
        padding-bottom: 50px;
    }

    .second-card-enter img{
        width: 60%;
    }

    .photo-person-circle{
        display: flex;
    }

    .photo-person-circle img{
        margin: 0 10px;
    }

    #benefit .container{
       width: calc(100% / 3);
       flex-direction: row;
       display: flex;
       flex-wrap: wrap;
    }

    #about-us .us{
        display: flex;
    }

    section:nth-of-type(even){
       margin: 0 -200px;
      }

      main{
        margin: 0 200px;
      }
   
      #female-male .row{
        width: 30%;
        padding-top: 40px;
      }

      #female-male .container{
        justify-content: center;
      }
  }